body {
    font:15px arial, helvetic,sans-serif;
    padding:0px;
    margin:0px;
    background-image: url("images.jpeg");
}
.container{
    width:auto;
    margin:auto;
    overflow:hidden;
    padding-left:20px;
}
header {
    background:#35424a;
    color:white;
    padding-top:30px;
    min-height:70px;
    border-bottom:red 3px solid;
}
header ul {
        padding:0px;
        margin:0px;
        list-style: none;
    }
    header ul li {
        float:left;
        display:inline;
        text-decoration:none;
        list-style: none;
        padding: 0 20px 0 20px;
    }
    header ul li a{
      list-style: none;
      text-decoration:none;
      color: white;
    }
    header #breanding {
        float:right;
    }

    header #breanding h1 {
       margin:0px;

  }
  header nav {
      float:right;
      margin-bottom:10px;
  }

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  left: -200px;
  background: #35424a;
  transition: all 500ms linear;
}
#sidebar ul li{
  list-style: none;
  border-bottom: 1px solid #e8491d;
  color: white;
  padding: 15px 10px;
}
#sidebar ul li a{
  color: white;
  text-decoration:none;

}
#sidebar .toggle-btn{
  position: absolute;;
  left: 230px;
  top: 20px;
}
#sidebar.active{
  left: 0px;
}
#sidebar .toggle-btn span{
  display: block;
  width: 30px;
  height: 5px;
  background: black;
  margin: 5px 0;
}
#main-page {
  color: white;
  text-align: center;
}
#main-page p{
  width: 50%;
  font-size: 15px;
  margin-left: 350px;
}
