body {
    font:15px arial, helvetic,sans-serif;
    padding:0px;
    margin:0px;
    background-image: url("images.jpeg");
}
.container{
    width:auto;
    margin:auto;
    overflow:hidden;
    padding-left:20px;
}
.container form{
  padding: 10px;
}
input[type="text"], input[type="password"]{
	outline:none;
	padding:10px;
	display:block;
	width:300px;
	border-radius: 3px;
	border:1px solid #eee;
	margin:20px auto;
}
input[type="submit"]{
	padding:10px;
	color:#fff;
	background:#0098cb;
	width:320px;
	margin:20px auto;
	margin-top:0px;
	border:0px;
	border-radius: 3px;
	cursor:pointer;
}

input[type="submit"]:hover{
	background:#00b8eb;
}
#Login{
	padding:10px 0px;
	width:100%;
	text-align:center;
  color: white;
}
header {
    background:#35424a;
    color:white;
    padding-top:30px;
    min-height:70px;
    border-bottom:red 3px solid;
}
header ul {
        padding:0px;
        margin:0px;
        list-style: none;
    }
    header ul li {
        float:left;
        display:inline;
        text-decoration:none;
        list-style: none;
        padding: 0 20px 0 20px;
    }
    header ul li a{
      list-style: none;
      text-decoration:none;
      color: white;
    }
    header #breanding {
        float:right;
    }

    header #breanding h1 {
       margin:0px;

    }
    header nav {
        float:right;
        margin-bottom:10px;
    }

    #myLoginBtn {
      margin-top: 10px;
      margin-left: 130px;
    }
    footer {
    padding:20px;
    margin-top:100px;
    color:white;
    background-color:#e8491d;
    text-align:left;
}
